## Deliverable 3. Create a Travel Itinerary Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [26]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = os.path.join("C:\\Users\\Nichelle\\Desktop\\Classwork\\World_Weather_Analysis\\Weather_Database\\WeatherPy_Database.csv")
vacation_df= pd.read_csv("C:\\Users\\Nichelle\\Desktop\\Classwork\\World_Weather_Analysis\\Weather_Database\\WeatherPy_Database.csv")
vacation_df.head

<bound method NDFrame.head of      City_ID               City Country      Lat       Lng  Max Temp  \
0          0            mataura      NZ -46.1927  168.8643     54.48
1          1             albany      US  42.6001  -73.9662     66.92
2          2              thoen      TH  17.6129   99.2161     86.74
3          3             hobart      AU -42.8794  147.3294     57.25
4          4         butaritari      KI   3.0707  172.7902     82.45
..       ...                ...     ...      ...       ...       ...
681      681       vangaindrano      MG -23.3500   47.6000     66.11
682      682           impfondo      CG   1.6381   18.0667     69.80
683      683                sur      OM  22.5667   59.5289     86.76
684      684          geraldton      AU -28.7667  114.6000     59.41
685      685  krasnoye-na-volge      RU  57.5125   41.2419     63.03

     Humidity  Cloudiness  Wind Speed Current Description  Rain (inches)  \
0          64          28       11.86    scattered clouds           0.00
1          70          85        3.44     overcast clouds           0.00
2          67         100        3.31     overcast clouds           0.00
3          69          20        9.22          few clouds           0.00
4          76           8       21.47          light rain           0.37
..        ...         ...         ...                 ...            ...
681        90          96        2.59          light rain           0.17
682        90          96        2.93     overcast clouds           0.00
683        67         100        6.20     overcast clouds           0.00
684        51         100       14.97     overcast clouds           0.00
685        73          27        1.72    scattered clouds           0.00

     Snow (inches)
0                0
1                0
2                0
3                0
4                0
..             ...
681              0
682              0
683              0
684              0
685              0

[686 rows x 12 columns]>

In [27]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [28]:
# 4a. Add a marker layer for each city to the map.
current_description = vacation_df["Current Description"]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='mataura']
vacation_end = vacation_df.loc[vacation_df['City']=='mataura']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='albany']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='thoen'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='hobart'] 
vacation_stop3

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
3,3,hobart,AU,-42.8794,147.3294,57.25,69,20,9.22,few clouds,0.0,0

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
start
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
end
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
stop1
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
stop2
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])
stop3

(-42.8794, 147.3294)

In [31]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary_map = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(itinerary_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,mataura,NZ,-46.1927,168.8643,54.48,64,28,11.86,scattered clouds,0.0,0
1,0,mataura,NZ,-46.1927,168.8643,54.48,64,28,11.86,scattered clouds,0.0,0
2,1,albany,US,42.6001,-73.9662,66.92,70,85,3.44,overcast clouds,0.0,0
3,2,thoen,TH,17.6129,99.2161,86.74,67,100,3.31,overcast clouds,0.0,0
4,3,hobart,AU,-42.8794,147.3294,57.25,69,20,9.22,few clouds,0.0,0

In [36]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map.
current_description = vacation_df["Current Description"]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(35.5, -118.0), zoom_level=6.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))